/*
    Document   : model
    Created on : Aug 16, 2012, 9:55:17 AM
    Author     : bcordis
    Description:
        Purpose of the stylesheet follows. for Church Directory Birthday and Anniversary
*/
.churchdirectory_model_theder {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.churchdirectory_model_row {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}