<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="member"
	          label="COM_CWMCONNECT_FIELD_CONFIG_INDIVIDUAL_MEMBER_DISPLAY"
	          description="COM_CWMCONNECT_FIELD_CONFIG_INDIVIDUAL_MEMBER_DESC"
	>
		<field name="image"
		       type="media"
		       label="COM_CWMCONNECT_FIELD_PARAMS_IMAGE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_IMAGE_DESC"
		>
		</field>
		<field name="allow_vcard"
		       type="radio"
		       class="btn-group"
		       default="0"
		       label="COM_CWMCONNECT_FIELD_PARAMS_VCARD_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_VCARD_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>
	<fieldset name="category"
	          label="JCATEGORY"
	          description="COM_CWMCONNECT_FIELD_CONFIG_CATEGORY_DESC"
	>
		<field name="show_description"
		       type="radio"
		       class="btn-group"
		       default="1"
		       description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC"
		       label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>
	<fieldset name="directorylist"
	          label="COM_CWMCONNECT_FIELD_CONFIG_DIRECTORY_MEMBER_DISPLAY"
	          description="COM_CWMCONNECT_FIELD_CONFIG_DIRECTORY_MEMBER_DESC"
	>
		<field name="dr_show_email"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="JGLOBAL_EMAIL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_MEMBER_E_MAIL_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_street_address"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_STREET_ADDRESS_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_STREET_ADDRESS_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_suburb"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_TOWN-SUBURB_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_TOWN-SUBURB_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_state"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_STATE-COUNTY_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_STATE-COUNTY_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_postcode"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_POST-ZIP_CODE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_POST-ZIP_CODE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_country"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_COUNTRY_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_COUNTRY_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_telephone"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_TELEPHONE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_TELEPHONE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_mobile"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_MOBILE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_MOBILE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_fax"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_FAX_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_FAX_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dr_show_webpage"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PARAMS_WEBPAGE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PARAMS_WEBPAGE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="dinitial_sort"
		       type="list"
		       label="COM_CWMCONNECT_FIELD_INITIAL_SORT_LABEL"
		       description="COM_CWMCONNECT_FIELD_INITIAL_SORT_DESC"
		       validate="options"
		       default="lname"
		>
			<option value="name">COM_CWMCONNECT_FIELD_VALUE_NAME</option>
			<option value="sortname">COM_CWMCONNECT_FIELD_VALUE_SORT_NAME</option>
			<option value="lname">COM_CWMCONNECT_FIELD_VALUE_LAST_NAME</option>
			<option value="ordering">COM_CWMCONNECT_FIELD_VALUE_ORDERING</option>
		</field>
	</fieldset>
	<fieldset name="contactform"
	          label="COM_CWMCONNECT_FIELD_CONFIG_MEMBER_FORM"
	          description="COM_CWMCONNECT_FIELD_CONFIG_INDIVIDUAL_MEMBER_DESC"
	>
		<field name="show_email_form"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_EMAIL_SHOW_FORM_LABEL"
		       description="COM_CWMCONNECT_FIELD_EMAIL_SHOW_FORM_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_email_copy"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_EMAIL_EMAIL_COPY_LABEL"
		       description="COM_CWMCONNECT_FIELD_EMAIL_EMAIL_COPY_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="banned_email"
		       type="textarea"
		       label="COM_CWMCONNECT_FIELD_CONFIG_BANNED_EMAIL_LABEL"
		       rows="3"
		       description="COM_CWMCONNECT_FIELD_CONFIG_BANNED_EMAIL_DESC"
		/>
		<field name="banned_subject"
		       type="textarea"
		       label="COM_CWMCONNECT_FIELD_CONFIG_BANNED_SUBJECT_LABEL"
		       rows="3"
		       description="COM_CWMCONNECT_FIELD_CONFIG_BANNED_SUBJECT_DESC"
		/>
		<field name="banned_text"
		       type="textarea"
		       label="COM_CWMCONNECT_FIELD_CONFIG_BANNED_TEXT_LABEL"
		       rows="3"
		       description="COM_CWMCONNECT_FIELD_CONFIG_BANNED_TEXT_DESC"
		/>
		<field name="validate_session"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_CONFIG_SESSION_CHECK_LABEL"
		       description="COM_CWMCONNECT_FIELD_CONFIG_SESSION_CHECK_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="custom_reply"
		       type="radio"
		       class="btn-group"
		       default="0"
		       label="COM_CWMCONNECT_FIELD_CONFIG_CUSTOM_REPLY_LABEL"
		       description="COM_CWMCONNECT_FIELD_CONFIG_CUSTOM_REPLY_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="global"
	          label="COM_CWMCONNECT_FIELD_CONFIG_GLOBAL_MEMBER_DISPLAY"
	          description="COM_CWMCONNECT_FIELD_CONFIG_GLOBAL_MEMBER_DESC"
	>
		<field name="member_access"
		       type="accesslevel"
		       label="COM_CWMCONNECT_FIELD_MEMBER_ACCESS_LABEL"
		       description="COM_CWMCONNECT_FIELD_MEMBER_ACCESS_DESC"
		       default="2"
		/>
		<field name="protectedaccess"
		       type="usergroup"
		       label="COM_CWMCONNECT_FIELD_MEMBER_PROTECTED_ACCESS_LABEL"
		       description="COM_CWMCONNECT_FIELD_MEMBER_PROTECTED_ACCESS_DESC"
		/>
		<field name="teamleaders"
		       type="sql"
		       query="SELECT id , name FROM #__cwmconnect_position where published=1"
		       key_field="id"
		       value_field="name"
		       label="COM_CWMCONNECT_FIELD_TEAM_LEADER_POSITION_LABEL"
		       description="COM_CWMCONNECT_FIELD_TEAM_LEADER_POSITION_DESC"
		/>
	</fieldset>
	<fieldset name="planningcenter"
	          label="COM_CWMCONNECT_FIELDSET_PLANNING_CENTER_LABEL"
	          description="COM_CWMCONNECT_FIELDSET_PLANNING_CENTER_DESC"
	>
		<field name="pc_enabled"
		       type="radio"
		       layout="joomla.form.field.radio.switcher"
		       default="0"
		       label="COM_CWMCONNECT_FIELD_PC_ENABLED_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_ENABLED_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="pc_personal_access_token"
		       type="password"
		       autocomplete="off"
		       label="COM_CWMCONNECT_FIELD_PC_PAT_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_PAT_DESC"
		       showon="pc_enabled:1"
		/>

		<field name="pc_application_id"
		       type="text"
		       label="COM_CWMCONNECT_FIELD_PC_APP_ID_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_APP_ID_DESC"
		       showon="pc_enabled:1"
		/>

		<field name="pc_api_base_url"
		       type="url"
		       default="https://api.planningcenteronline.com"
		       label="COM_CWMCONNECT_FIELD_PC_BASE_URL_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_BASE_URL_DESC"
		       showon="pc_enabled:1"
		/>

		<field name="pc_membership_statuses"
		       type="PcMembershipStatus"
		       addfieldprefix="CWM\Component\Cwmconnect\Administrator\Field"
		       multiple="true"
		       label="COM_CWMCONNECT_FIELD_PC_STATUSES_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_STATUSES_DESC"
		       showon="pc_enabled:1"
		/>

		<field name="pc_list_id"
		       type="text"
		       label="COM_CWMCONNECT_FIELD_PC_LIST_ID_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_LIST_ID_DESC"
		       showon="pc_enabled:1"
		/>

		<field name="pc_archive_policy"
		       type="radio"
		       layout="joomla.form.field.radio.switcher"
		       default="archive"
		       label="COM_CWMCONNECT_FIELD_PC_ARCHIVE_POLICY_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_ARCHIVE_POLICY_DESC"
		       showon="pc_enabled:1"
		>
			<option value="archive">COM_CWMCONNECT_FIELD_PC_ARCHIVE_POLICY_ARCHIVE</option>
			<option value="delete">COM_CWMCONNECT_FIELD_PC_ARCHIVE_POLICY_DELETE</option>
		</field>
		<field name="pc_field_spacer"
		       type="spacer"
		       label="COM_CWMCONNECT_FIELD_PC_ROLE_FIELDS_HEADING"
		       showon="pc_enabled:1"/>
		<field name="pc_field_board"
		       type="text"
		       default="church_board_member"
		       label="COM_CWMCONNECT_FIELD_PC_FIELD_BOARD_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_FIELD_BOARD_DESC"
		       showon="pc_enabled:1"/>
		<field name="pc_field_positions"
		       type="text"
		       default="positions"
		       label="COM_CWMCONNECT_FIELD_PC_FIELD_POSITIONS_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_FIELD_POSITIONS_DESC"
		       showon="pc_enabled:1"/>
		<field name="pc_field_ministry_teams"
		       type="text"
		       default="ministry_teams"
		       label="COM_CWMCONNECT_FIELD_PC_FIELD_MINISTRY_TEAMS_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_FIELD_MINISTRY_TEAMS_DESC"
		       showon="pc_enabled:1"/>
		<field name="pc_field_leader"
		       type="text"
		       default="leader"
		       label="COM_CWMCONNECT_FIELD_PC_FIELD_LEADER_LABEL"
		       description="COM_CWMCONNECT_FIELD_PC_FIELD_LEADER_DESC"
		       showon="pc_enabled:1"/>
	</fieldset>
	<fieldset name="permissions"
	          label="JCONFIG_PERMISSIONS_LABEL"
	          description="JCONFIG_PERMISSIONS_DESC"
	>
		<field name="rules"
		       type="rules"
		       label="JCONFIG_PERMISSIONS_LABEL"
		       validate="rules"
		       filter="rules"
		       component="com_cwmconnect"
		       section="component"/>
	</fieldset>
	<fieldset name="reports"
	          label="COM_CWMCONNECT_FIELD_CONFIG_REPORTS"
	          description="COM_CWMCONNECT_FIELD_CONFIG_REPORTS_DESC"
	>
		<field name="rules_level"
		       type="accesslevel"
		       label="COM_CWMCONNECT_FIELD_MEMBER_ACCESS_LEVEL_LABEL"
		       description="COM_CWMCONNECT_FIELD_MEMBER_ACCESS_LEVEL_DESC"
		/>
	</fieldset>
	<fieldset name="printeddirectory"
	          label="COM_CWMCONNECT_FIELD_CONFIG_PRINTED_DIRECTORY"
	          description="COM_CWMCONNECT_FIELD_CONFIG_PRINTED_DIRECTORY_DESC"
	>
		<field name="pdf_layout"
		       type="radio"
		       class="btn-group"
		       default="family"
		       label="COM_CWMCONNECT_FIELD_PDF_LAYOUT_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_LAYOUT_DESC"
		>
			<option value="family">COM_CWMCONNECT_FIELD_PDF_LAYOUT_FAMILY</option>
			<option value="photo_detail">COM_CWMCONNECT_FIELD_PDF_LAYOUT_PHOTO_DETAIL</option>
			<option value="photo_grid">COM_CWMCONNECT_FIELD_PDF_LAYOUT_PHOTO_GRID</option>
			<option value="roster">COM_CWMCONNECT_FIELD_PDF_LAYOUT_ROSTER</option>
		</field>
		<field name="pdf_append_roster"
		       type="radio"
		       class="btn-group"
		       default="0"
		       label="COM_CWMCONNECT_FIELD_PDF_APPEND_ROSTER_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_APPEND_ROSTER_DESC"
		       showon="pdf_layout!:roster"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pdf_cover"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PDF_COVER_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_COVER_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pdf_cover_use_pc"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PDF_COVER_USE_PC_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_COVER_USE_PC_DESC"
		       showon="pdf_cover:1[AND]pc_enabled:1"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pdf_cover_image"
		       type="media"
		       label="COM_CWMCONNECT_FIELD_PDF_COVER_IMAGE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_COVER_IMAGE_DESC"
		       showon="pdf_cover:1"/>
		<field name="pdf_church_name"
		       type="text"
		       label="COM_CWMCONNECT_FIELD_PDF_CHURCH_NAME_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_CHURCH_NAME_DESC"
		       showon="pdf_cover:1"/>
		<field name="pdf_church_address"
		       type="textarea"
		       rows="3"
		       label="COM_CWMCONNECT_FIELD_PDF_CHURCH_ADDRESS_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_CHURCH_ADDRESS_DESC"
		       showon="pdf_cover:1"/>
		<field name="pdf_church_phone"
		       type="text"
		       label="COM_CWMCONNECT_FIELD_PDF_CHURCH_PHONE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_CHURCH_PHONE_DESC"
		       showon="pdf_cover:1"/>
		<field name="pdf_church_email"
		       type="email"
		       label="COM_CWMCONNECT_FIELD_PDF_CHURCH_EMAIL_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_CHURCH_EMAIL_DESC"
		       showon="pdf_cover:1"/>
		<field name="pdf_church_website"
		       type="url"
		       label="COM_CWMCONNECT_FIELD_PDF_CHURCH_WEBSITE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_CHURCH_WEBSITE_DESC"
		       showon="pdf_cover:1"/>
		<field name="pdf_welcome"
		       type="radio"
		       class="btn-group"
		       default="0"
		       label="COM_CWMCONNECT_FIELD_PDF_WELCOME_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_WELCOME_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pdf_welcome_text"
		       type="editor"
		       filter="safehtml"
		       label="COM_CWMCONNECT_FIELD_PDF_WELCOME_TEXT_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_WELCOME_TEXT_DESC"
		       showon="pdf_welcome:1"/>
		<field name="pdf_board"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PDF_BOARD_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_BOARD_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pdf_officers"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PDF_OFFICERS_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_OFFICERS_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pdf_officer_lists"
		       type="subform"
		       multiple="true"
		       layout="joomla.form.field.subform.repeatable-table"
		       label="COM_CWMCONNECT_FIELD_PDF_OFFICER_LISTS_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_OFFICER_LISTS_DESC"
		       showon="pdf_officers:1[AND]pc_enabled:1">
			<form>
				<field name="list_id"
				       type="text"
				       label="COM_CWMCONNECT_FIELD_PDF_OFFICER_LIST_ID_LABEL"
				       description="COM_CWMCONNECT_FIELD_PDF_OFFICER_LIST_ID_DESC"/>
				<field name="role"
				       type="text"
				       label="COM_CWMCONNECT_FIELD_PDF_OFFICER_LIST_ROLE_LABEL"
				       description="COM_CWMCONNECT_FIELD_PDF_OFFICER_LIST_ROLE_DESC"/>
			</form>
		</field>
		<field name="pdf_staff"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PDF_STAFF_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_STAFF_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pdf_section_headers"
		       type="radio"
		       class="btn-group"
		       default="1"
		       label="COM_CWMCONNECT_FIELD_PDF_SECTION_HEADERS_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_SECTION_HEADERS_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="pdf_page_size"
		       type="radio"
		       class="btn-group"
		       default="letter"
		       label="COM_CWMCONNECT_FIELD_PDF_PAGE_SIZE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_PAGE_SIZE_DESC"
		>
			<option value="letter">COM_CWMCONNECT_FIELD_PDF_PAGE_SIZE_LETTER</option>
			<option value="booklet">COM_CWMCONNECT_FIELD_PDF_PAGE_SIZE_BOOKLET</option>
		</field>
		<field name="pdf_color"
		       type="radio"
		       class="btn-group"
		       default="color"
		       label="COM_CWMCONNECT_FIELD_PDF_COLOR_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_COLOR_DESC"
		>
			<option value="color">COM_CWMCONNECT_FIELD_PDF_COLOR_FULL</option>
			<option value="bw">COM_CWMCONNECT_FIELD_PDF_COLOR_BW</option>
		</field>
		<field name="pdf_font_size"
		       type="radio"
		       class="btn-group"
		       default="normal"
		       label="COM_CWMCONNECT_FIELD_PDF_FONT_SIZE_LABEL"
		       description="COM_CWMCONNECT_FIELD_PDF_FONT_SIZE_DESC"
		>
			<option value="normal">COM_CWMCONNECT_FIELD_PDF_FONT_SIZE_NORMAL</option>
			<option value="large">COM_CWMCONNECT_FIELD_PDF_FONT_SIZE_LARGE</option>
			<option value="xlarge">COM_CWMCONNECT_FIELD_PDF_FONT_SIZE_XLARGE</option>
		</field>
	</fieldset>
</config>
